*{
    font-family: 'Raleway', "Sans-Serif";
}

header{
    margin: 40px 28px 20px 20px;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-size: large;
}

nav a{
    padding: 53px 20px 0px 20px;
    border-top: 2px solid white;
}

nav a:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

#logo{
    margin-right: auto;
    padding: 0px 10px;
    width: 132px;
}

@media screen and (min-width:768px) and (max-width:992px){


}

@media screen and (max-width:767px){

    header{
        margin: 0px;
    }

    .menu{
        width: 100%;
        display: flex;
    }

    nav a{
        width: 50%;
        padding-top: 0px;
        padding-bottom: 15px;
        flex-direction: row;
        justify-content: center;
    }

    #rental{
        border-top: 2px solid white;
        border-bottom: 3px solid #0065FC;
    }

    #activities{
        border-top: 2px solid white;
        border-bottom: 3px solid #F2F2F2;
    }
}