*{
    font-family: 'Raleway', "Sans-Serif";
}

header{
    margin: 40px 28px 20px 10px;
    padding-bottom: 15px;
}

section{
    padding: 0px 10px;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-size: large;
}

nav a{
    padding: 53px 20px 0px 20px;
    border-top: 2px solid white;
    text-align: center;
}

nav a:hover{ /*Diff padding moz - webkit*/
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

#logo{
    margin-right: auto;
    padding: 0px 10px;
    width: 132px;
}

#Grip h1{
    font-size: 24px;
}

#Grip p{
    font-size: 17px;
}

#SearchBar{
    display: flex;
}

#ville{
    padding-right: 35px;
    border: 2px solid #F2F2F2;
}

input::placeholder{
    color: black;
    font-weight: bold;
    padding-left: 10px;
}

#SearchBar button{
    background-color: #0065FC;
    border: 2px solid #0065FC;
    border-radius: 0px 12px 12px 0px;
    color: white;
    font-weight: bold;
    padding: 0px 17px;
}


#SearchIcon{
    padding: 15px 17px;
    background-color: #F2F2F2;
    border-radius: 12px 0px 0px 12px;
}

#Filters{
    display: flex;
    align-items: center;
}

.FiltersLink{
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    padding: 10px;
    margin: 0px 20px;
    font-weight: bold;
}

.Filtericons{
    display: inline;
    position: relative;
    color: #0065FC;
    background:#DEEBFF;
    border: 1px solid #DEEBFF;
    border-radius: 100%;
    padding: 11px;
    right: 11px;
}

@media screen and (min-width:768px) and (max-width:992px){


}

@media screen and (max-width:767px){

    header{
        margin: 0px;
    }

    .menu{
        flex-basis: 100%;
        display: flex;
        padding-top: 75px;
    }

    nav a{
        flex-basis: 50%;
        padding-top: 0px;
        padding-bottom: 15px;
        flex-direction: row;
        justify-content: center;
    }

    #rental{
        border-top: 2px solid white;
        border-bottom: 3px solid #0065FC;
    }

    #activities{
        border-top: 2px solid white;
        border-bottom: 3px solid #F2F2F2;
    }

    #logo{
       margin: auto;
    }
}